<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Xac nhan sinh vien</title>
</head>
<body>
<h2>Xac nhan thong tin sinh vien</h2>
<ul>
    <li><strong>ID:</strong><span th:text="${id}"></span></li>
    <li><strong>Name:</strong><span th:text="${name}"></span></li>
    <li><strong>Dob:</strong><span th:text="${dob}"></span></li>
    <li><strong>Department:</strong><span th:text="${department}"></span></li>
</ul>
<form action="/confirm" method="post">
    <input type="hidden" name = "id" th:value="${id}">
    <input type="hidden" name = "name" th:value="${name}">
    <input type="hidden" name = "dob" th:value="${dob}">
    <input type="hidden" name = "department" th:value="${department}">
    <button onclick="submit">Confirm</button>
</form>
<form action="/" method="get" style="display:inline">
    <button type="submit" class="btn-back">Back</button>
</form></body>
</html>